
:root{
    --form-background-blue: rgb(21, 14, 153);
    --background-white: white;
    --orange: rgb(203, 99, 65);
    --light: white;
    --body-text: black;
    --border-color: black;
    --highlight-color: #dbdbdb;
    --button-padding: 12px 20px;
    --button-border-radius: 0px;
    --button-cursor: pointer;
    --button-text-color: white;
    --button-color: rgba(253, 156, 134, 0.959);   
    --link-orange: rgba(253, 156, 132, 0.959;)

}

* {
    /* border: 2px dashed black;
    margin: 5px; */
    padding: 15px 20px 10px;
    /* background-color: var(--light); */
    font-size: 16px;
    display: flexbox;
}

body {
    font-family: Verdana, sans-serif;
}
header, h1 {
    color: var(--body-text);
    font-size: 45px;
}

/*header {
    margin: 5px;
    padding: 10px 20px 25px;

} */
h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;   
}
header p {
    color: var(--body-text);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a{
    color: var(--body-text);
    padding: var(--button-padding);
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: var(--button-cursor);
}

nav a:hover{
    text-decoration: underline;
}

footer {
    text-align: center;
}
.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    cursor: var(--button-cursor)
  }

.button:hover {
    background-color: var(--highlight-color);
  }

input[type=text], select, textarea {
    width: 60%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

input[id=message] {
    height: 100px !important;   
}

  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    cursor: var(--button-cursor)
  }
  
  /* When moving the mouse over the submit button, add a darker color */
input[type=submit]:hover {
    background-color: var(--highlight-color);
  }

/* form {
        background-color: var(--form-background-blue);
        padding: 20px;
 }  */

.hero {
    height: 800px;
    width: 100%;
    margin: 25px -90px 25px;
    padding:687px 59px 52px 321px;
    background-image: url("../portfolio/images/McKinleyWedding-0864.jpg"); 
    background-size: cover;
    background-position: center;
}
.about-me {
    display: flex;
    align-items: flex-end;
    }
#contact-me {
    
}
    
#work {
    
}

.about-me-img {
    /* height: 50px;
    width: 50px; */
    vertical-align: middle;
    display: flex;
    align-items: flex-end;
}

.about-me-text {
    /* margin-left: 330px;
    padding: 10px 10px 10px 10px; */
    
}
.projects-container {
    display: flex;
    flex: 1 0 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-item-first-child {
    border: 2px solid var(--border-color);
    border-radius: var(--button-border-radius);
    min-height: 400px;
    flex-basis: 100%;
    align-items: flex-end;
    margin: 20px;
    padding: 0 0 20px 0;
    transition: all 0.5s;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    background-image: url(./images/flowers.jpeg);
}
.project-item:hover{
    background-color: var(--highlight-color);
}

.project-item-first-child:hover{
    background-color: var(--highlight-color);
}

#rock{
    background-image:url(./images/rock.jpeg);
    background-blend-mode: soft-light;
}
#mountain{
    background-image:url(./images/mountain.jpeg);
    background-blend-mode: soft-light;
}
#sky{
    background-image: url(./images/sky.jpeg) ;
    background-blend-mode: soft-light;
}
#water{
    background-image: url(./images/water.jpeg) ;
    background-blend-mode: soft-light;
}
.project-item {
    flex: 1 0 0;
    min-width: 567px;
    max-width: 1000px;
    border: 2px solid var(--border-color);
    border-radius: var(--button-border-radius);
    align-content: space-evenly;
    color: var(--body-text);
    min-height: 250px;
    max-height: 250px;
    /* flex-basis: calc(50% - 1em); */
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 20px;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;

    
}

.contact-form {
    color: var(--light);
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--form-background-blue);
    margin: 0 -100px 6px;
    padding: 164px;
  }
  

/* @media screen and (max-width: 600px) {
    .project-item {
        flex-basis: 100%;
    }
    .project-item-first-child {
        flex-basis: 100%;
    }
    .projects-container {
        flex-direction: column;
    }
    .about-me {
        flex-direction: column;
    }
    .about-me-img {
        margin: 0 auto;
    }
    .about-me-text {
        margin: 0 auto;
    }
    .hero {
        height: 400px;
        padding: 0;
    }
    .contact-form {
        padding: 0;
    }
    
} */

@media screen and (max-width: 768px) { 
    /* .project-item {
        flex-basis: 100%;
        height:auto 
    }*/
    .project-item, .project-item-first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        min-height: 250px;
        flex-basis: 100%;
        height:auto 
    }
    .projects-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .about-me {
        flex-direction: column;
    }
    .about-me-img {
        margin: 0 auto;
    }
    .about-me-text {
        margin: 0 auto;
    }
    .hero {
        height: 400px;
        padding: 0;
    }
    .contact-form {
        padding: 0;
    }
    
}
